.contactDetails {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center; /* Ensures all items are centered horizontally */
}

.contactItem {
  background-color: var(--background-color);
  border: #888 1px solid;
  border-radius: 20px;
  padding: 15px 20px;
  width: 250px;
  text-align: center; /* Center-aligns text */
  margin: 0 auto; /* Centers the item within its parent container */
  display: flex; /* Enables flexbox for robust alignment */
  justify-content: center; /* Centers content horizontally */
  align-items: center; /* Centers content vertically */
}

@media (width >= 800px) {
  .contactItem {
    width: 600px;
    font-size: 20px;
  }
}

@media (width >= 1400px) {
  .contactItem {
    width: 800px;
  }
}